<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.mapper.AlbumMapper">

    <resultMap id="albumResultMap" type="com.baizhi.entity.Album">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="amount" column="amount"/>
        <result property="imgPath" column="img_path"/>
        <result property="score" column="score"/>
        <result property="author" column="author"/>
        <result property="boardcast" column="boardcast"/>
        <result property="publishDate" column="publish_date"/>
        <result property="brief" column="brief"/>
        <collection property="children" javaType="java.util.List" ofType="com.baizhi.entity.Chapter">
            <result property="id" column="id_"/>
            <result property="title" column="title_"/>
            <result property="size" column="size"/>
            <result property="duration" column="duration"/>
            <result property="publishDate" column="publish_date_"/>
            <result property="albumId" column="album_id"/>
            <result property="downloadPath" column="download_path"/>
        </collection>
    </resultMap>

    <select id="select1" resultMap="albumResultMap">
        select t1.*,
               t2.id    id_,
               t2.title title_,
               t2.size
               size,
               t2
               .
               duration
               duration,
               t2
               .
               publish_date
               publish_date_,
               t2
               .
               album_id
               album_id,
               t2
               .
               download_path
               download_path
        from album
             t1
             left
             join
             chapter
             t2
        on t1
           .
           id =
           t2
           .
           album_id
    </select>

    <select id="selectAlbum" resultMap="albumResultMap">
        select id,title
        from album
    </select>


</mapper>